asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
beautifulsoup4==4.4.1
bio==0.1.0
biopython==1.73
blessings==1.7
bottle==0.12.16
bpython==0.17.1
casttube==0.2.0
certifi==2018.8.24
chardet==3.0.4
Click==7.0
clickclick==1.2.2
configparser==3.7.4
connexion==2018.0.dev1
constantly==15.1.0
cryptography==2.6.1
cssutils==1.0.2
cupshelpers==1.0
curtsies==0.3.0
cycler==0.10.0
dbus-python==1.2.12
devscripts==2.19.7
distro==1.3.0
ecdsa==0.13.3
entrypoints==0.3
enum34==1.1.6
Flask==1.0.2
Flask-Cors==3.0.7
future==0.17.1
gnomecast==1.7.1
gpg===1.13.1-unknown
greenlet==0.4.15
h5py==2.10.0
html5lib==1.0.1
httplib2==0.11.3
hyperlink==19.0.0
idna==2.6
ifaddr==0.1.6
incremental==17.5.0
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
kazam==1.4.5
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==18.0.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
lxml==4.3.3
MarkupSafe==1.1.0
matplotlib==3.0.2
memory-profiler==0.55.0
numpy==1.17.2
openapi-spec-validator==0.2.7
Paste==3.0.8
Pillow==6.2.0
protobuf==3.7.1
psutil==5.5.0
pyaes==1.6.1
pyasn1==0.4.5
pycairo==1.16.2
pycaption==1.0.1
PyChromecast==3.2.0
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pyenchant==2.0.0
Pygments==2.3.1
PyGObject==3.34.0
pygtkspellcheck==4.0.5
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.3.1
PyQt5==5.12.3
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
python-apt==1.8.4
python-dateutil==2.8.0
python-debian==0.1.36
python-debianbts==2.8.2
python-jose==3.0.1
python-magic==0.4.16
pyxdg==0.25
PyYAML==5.1
ratelimit==2.2.1
reportbug==7.5.3
requests==2.21.0
rsa==4.0
scipy==1.2.1
scour==0.37
SecretStorage==2.3.1
sip==4.19.19
six==1.12.0
swagger-ui-bundle==0.0.3
Telethon==1.9.0
Twisted==19.2.0
typing==3.6.6
ufw==0.36
unidiff==0.5.5
urllib3==1.24.2
vboxapi==1.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
yapf==0.26.0
youtube-dl==2019.6.21
zeroconf==0.21.3
zope.interface==4.6.0
