# Data and Text Mining

Correct answers are in bold.

\jb{set count = namespace(a=0)}

\jb{for chapter in data.list}


## \jv{loop.index}.\jv{chapter}

\jb{for questionData in data[chapter]}
\jb{set count.a = count.a + 1}
\jv{count.a}. \jv{questionData.question} (`\jv{questionData.meta.hash}`)

\jb{for ans in questionData.answers}

\jb{if ans.correct}
- **\jv{ans.text}**
\jb{else}
- \jv{ans.text}
\jb{endif}



\jb{endfor}

---


\jb{endfor}

\jb{endfor}